{% load static %}
<section class="s2">
	<div class="container">
		<div class ="about">
			<div class="left-column-1">
				<h4>More about me</h4>
				<p>I build new projects just to tickle my brain and love teaching others how they're made.</p>
				<p>While I keep busy teaching courses, I still take interviews in search of a great team & projects that interest me.</p>
				<hr>
				<h4>TOP EXPERTISE</h4>
				<p>Fullstack developer with primary focus on Django + React: Download Resume</p>
				<div class="skills">
					<ul id="ul-skills-1">
						<li>Python</li>
						<li>Django</li>
						<li>Postgres</li>
						<li>JavaScript</li>
					</ul>
					<ul id="ul-skills-2">
						<li>Heroku</li>
						<li>Git</li>
						<li>AWS(DRS/S3)</li>
						<li>HTML/CSS</li>
					</ul>
				</div>
			</div>
			<div class="right-column-1">
				<img id="about_pic" src="{% static 'media/follow.jpg' %}">
				<h4 style="text-align: center;">Find me on Twitter & Youtube</h4>
				<a target="_blank" href="">VK: @nicolass</a>
				<br>
				<a target="_blank" href="">GitHub: @broooke</a>
			</div>
		</div>
	</div>
</section>