<section class="s2">
	<div class="container">
		<h3 style="text-align: center;">Get In Touch</h3>
		<form id="contact-form" method="post" action="{% url 'send_email' %}">
			{% csrf_token %}
			<label>Name</label>
			<input class="form-field" type="text" name="name">

			<label>Subject</label>
			<input class="form-field" type="text" name="subject">

			<label>Email</label>
			<input class="form-field" type="text" name="email">

			<label>Message</label>
			<textarea name="message" class="form-field"></textarea>
			
			<input id="submit-btn" type="submit" value="Send">
		</form>
	</div>
</section>