{% load static %}
<section class="s1">
	<div class="container">
		<h3 style="text-align: center;">Some of my past projects</h3>
		<div class="post-wrapper">
			<div>
				<div class="post">
					<img class="thumbnail" src="{% static 'media/dash.jpg' %}">
					<div class="post-preview">
						<h6 class="post-title">Laboratory Management System</h6>
						<p class="post-text">Designed built & mantained a the lab managment system for FOI Laboratories</p>
						<a href="">Read More</a>
					</div>
				</div>
			</div>
			<div>
				<div class="post">
					<img class="thumbnail" src="{% static 'media/dash.jpg' %}">
					<div class="post-preview">
						<h6 class="post-title">Laboratory Management System</h6>
						<p class="post-text">Designed built & mantained a the lab managment system for FOI Laboratories</p>
						<a href="">Read More</a>
					</div>
				</div>
			</div>
			<div>
				<div class="post">
					<img class="thumbnail" src="{% static 'media/dash.jpg' %}">
					<div class="post-preview">
						<h6 class="post-title">Laboratory Management System</h6>
						<p class="post-text">Designed built & m</p>
						<a href="">Read More</a>
					</div>
				</div>
			</div>
		</div>
		<p align="center">
			<a href="{% url 'posts' %}">View More</a>
		</p>
	</div>
</section>